body {
    background: linear-gradient(to right, red, green, blue, purple, yellow, black);
    font-family: Arial, sans-serif;
    color:white;
    margin:0; /* Remove default margin */
    padding:0; /* Remove default padding */
    display:flex; /* Enable flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Body now takes ful height of the view */
}

h1 {
    font-size: 2em;
    text-align: center;
}